

body{
    margin: 0;
    margin-bottom: 20px;
    min-height: 100vh;
 
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #301d1d 0%, #453a36 25%, #4d3b47 50%, #4b4162 75%, #556466 100%), 
                linear-gradient(45deg, #76614b 0%, #772e3e 25%, #7e555e 50%, #3e6670 75%, #7a6d3c 100%);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;

}
#container-wrap{
    display: none;
}


.msg{
padding-top: 10px;
padding-left: 10px;

}

.msg b{
padding-top: 10px;
padding-left: 10px;
}

.d-flex{
    display: flex !important;
    flex-direction: row;
    align-items: baseline;
}


  #chat {
    height: 400px;
    overflow-y: scroll;
  }
  