

body{
    margin: 0;
    margin-bottom: 20px;
    min-height: 100vh;
 
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #FF9A9E 0%, #FAD0C4 25%, #FBC2EB 50%, #A18CD1 75%, #C4E0E5 100%), 
                linear-gradient(45deg, #FFD3A5 0%, #FD6585 25%, #FCABBD 50%, #7AC5D8 75%, #FFE57F 100%);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;

}
#container-wrap{
    display: none;
}


.msg{
padding-top: 10px;
padding-left: 10px;

}

.msg b{
padding-top: 10px;
padding-left: 10px;
}

.d-flex{
    display: flex !important;
    flex-direction: row;
    align-items: baseline;
}

