


body{
    background-color: blue;
}
#container-wrap{
    display: none;
}


.msg{
padding-top: 10px;
padding-left: 10px;

}

.msg b{
padding-top: 10px;
padding-left: 10px;
}

.d-flex{
    display: flex !important;
    flex-direction: row;
    align-items: baseline;
}